<div class="card" align="center">
  <div class="card-block">
      <p class="card-text">Projet : {{ this.projectName }} </p>
      <p class="card-text">ProductOwner : {{ this.ProductOwner }} </p>
        <button type="button" class="btn btn-success" >
       <i class="fa fa-plus"></i>Nouveau sprint</button>
       <button type="button" class="btn btn-success" >
        <i class="fa fa-pencil" aria-hidden="true"></i>Modifier un sprint</button>
    </div>
  </div>
<div id="container">
  <table class="table">
      <thead>
        <tr>
          <th>Sprint ID</th>
          <th>Description</th>
          <th>Date début de sprint</th>
          <th>Date fin de sprint</th>
        </tr>
      </thead>
          <tbody>
              <tr *ngFor="let sprint of Sprints">
                  <td>{{sprint.sprint_id}}</td>
                  <td>{{sprint.description}}</td>
                  <td>{{sprint.dateBegin.substring(0,10)}}</td>
                  <td>{{sprint.dateEnd.substring(0,10)}}</td>
              </tr>
          </tbody>
    </table>
</div>