<form class="form-inline">
  <div class="input-group mr-1 mr-sm-0 ">
    <span class="input-group-addon"><i class=" fa fa-envelope fa-fw"></i></span>
    <input class="form-control" type="email" placeholder="Email" aria-label="Search">
  </div>
  <div class="input-group mr-1 mr-sm-0">
    <span class="input-group-addon"><i class=" fa fa-lock fa-fw"></i></span>
    <input class="form-control" type="password" placeholder="Mot de passe" aria-label="Search">
  </div>
  <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Connexion</button>
</form>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Nouveau compte</button>
