<div class="card" align="center">
  <div class="card-block">
      <p class="card-text">Projet : {{ this.projectName }} </p>
      <p class="card-text">ProductOwner : {{ this.ProductOwner }} </p>
      <a routerLink="" class="btn btn-success" id="create-btn">
        <i class="fa fa-plus"></i>Nouvelle issue </a>
    </div>
  </div>
<div id="container">
  <table class="table">
      <thead>
        <tr>
          <th>Issue ID</th>
          <th>Story</th>
          <th>priorité</th>
          <th>difficulté</th>
          <th>Status</th>
        </tr>
      </thead>
          <tbody>
              <tr *ngFor="let issue of Backlog">
                  <td>{{issue.issue_id}}</td>
                  <td>{{issue.story}}</td>
                  <td>{{issue.difficulty}}</td>
                  <td>{{issue.priority}}</td>
                  <td>{{issue.state}}</td>
              </tr>
          </tbody>
    </table>
</div>