<div class="card" align="center">
  <div class="card-block">
      <p class="card-text">Projet : {{ this.projectName }} </p>
      <p class="card-text">ProductOwner : {{ this.ProductOwner }} </p>
    </div>
  </div>
<div id="container">
  <table class="table">
      <thead>
        <tr>
          <th>Issue ID</th>
          <th>Story</th>
          <th>Difficulty</th>
          <th>Priority</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
</div>