<title>DDF - Nouveau compte</title>
<div class="container mt-5">
  <form [formGroup]="signupForm" (ngSubmit)="submitForm(complexForm.value)" novalidate>
    <div class="form-group">
      <label for="inputEmail">Adresse email</label>
      <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
      <div *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched" class="invalid-feedback">
        Veuillez renseigner votre adresse email.
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastName">Nom</label>
      <input formControlName="lastName" type="text" class="form-control" id="inputLastName" placeholder="Nom">
    </div>
    <div class="form-group">
      <label for="inputFirstName">Prénom</label>
      <input formControlName="firstName" type="text" class="form-control" id="inputFirstName" placeholder="Prénom">
    </div>
    <div class="form-group">
      <label for="inputPassword">Mot de passe</label>
      <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">
    </div>
    <div class="form-group">
      <label for="inputPassword2">Confirmer le mot de passe</label>
      <input formControlName="password2" type="password" class="form-control" id="inputPassword2" placeholder="Mot de passe">
    </div>
    <button type="submit" class="btn btn-primary">Créer un compte</button>
  </form>
</div>
