<ng-container *ngIf="!loggedIn;else elseConnecteBlock">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-auto" routerLink="/home">DDF</a> 
      <app-navbar-user></app-navbar-user>
  </nav>
  </ng-container>
    <ng-template #elseConnecteBlock>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand mr-auto" routerLink="/profile">DDF Espace Personnel {{this.authService.getFirstName()}}</a>
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/profile">Mon Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/Updateprofile">Modifier mes informations </a>
                </li>
              </ul>
            <app-navbar-user></app-navbar-user>
          </nav>
    </ng-template>
    