<ng-template *ngIf="!loggedIn; else loginContainer">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-auto" routerLink="/profile">DDF Espace Personnel {{this.authService.getLastName()}}</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/profile">Mon Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/updateprofile">Modifier mes informations</a>
      </li>
    </ul>
    <div ngbDropdown class="d-inline-block nav-link">
      <button class="btn btn-outline-primary nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Projets</button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1" ngbDropdownMenu >
        <button class="dropdown-item" routerLink="/projects">Liste des projets</button>
        <button class="dropdown-item" routerLink="/addproject">Créer un projet</button>
        <button class="dropdown-item">Participer a un projet</button>
      </div>
    </div>
    <button class="btn btn-danger mr-1 1 my-sm-0" (click)="logout()">Déconnexion</button>
  </nav>
</ng-template>

<ng-template #loginContainer>
  <a class="navbar-brand mr-auto" routerLink="/home">DDF</a>
  <button class="btn btn-primary mr-1 1 my-sm-0" routerLink="/signin">Connexion</button>
  <button class="btn btn-success mr-1 my-sm-0" routerLink="/signup">Nouveau compte</button>
</ng-template>
