<ng-container *ngIf="!TestLog;else elseConnecteBlock">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-auto" routerLink="/home">DDF</a>
      <app-navbar-user></app-navbar-user>
  </nav>
  </ng-container>
  
    <ng-template #elseConnecteBlock>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand mr-auto" routerLink="/profile">DDF Espace Personnel {{this.authService.getFirstName()}}</a>
              <app-navbar-user></app-navbar-user>
          </nav>
    </ng-template>
    